* {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 20px;
  background-color: yellowgreen;
  display: inline-block;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
